<!--topbarbar-->
<div class="topbar">
    <div class="topbar">
        <ul class="">
            <li><a class="topbar left" href="{{ path('app_home') }}">Accueil</a></li>
            <li><a class="topbar left" href="{{ path('app_project_progress') }}">Projet</a></li>

            {% if app.user %}
    {#                <li><a class="topbar-link" href="{{ path('sorties_afficher')}}">Sorties</a></li>#}
    {#                <li><a class="topbar-link" href="{{ path('app_creer_sortie')}}">Créer une sortie</a></li>#}
    {#                <li><a class="topbar-link" href="{{ path('modifier_user', {'id': app.user.id}) }}">Modifier mon profil</a></li>#}
                {% if is_granted ("ROLE_ADMIN") %}
                    <li><a class="topbar left" href="{{ path('app_register') }}">Admin</a></li>
                {% endif %}
                <li><a class="topbar right" href="{{ path('app_logout')}}">Se déconnecter ({{ app.user.userIdentifier }})</a></li>
            {% else %}
                <a class="topbar right" href="{{ path('app_login') }}">Login<span class="sr-only"></span></a>
            {% endif %}

        </ul>

    </div>

</div>

